

main{
    padding-top: 200px;
    position: relative;
    background-image: url("background-w.png");
    background-attachment: fixed;
}

.fox-img img{
    width: 320px;

}
.fox-img{
    text-align: left;
    position: absolute;
    top:400px;
    right: 130px;

}
.dinor img{
    width: 250px;
}
.dinor{
    margin-top: 80px;
    margin-left: 240px;
    position: absolute;
}
.page-theme{
    /* display: flex; */
    margin-left:240px;
}
h2{
    font-size: 20px;
    color: #353030;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-title{
    text-align: center;
    color: #353030;
    line-height: 1.5;
}
.contact-title h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
}
.contact-title h2{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    
}
.form{
    margin-top: 100px;
    margin-left: 550px;
    margin-bottom: 100px;
}
.row{
    display: flex;
}
.label{
    border:none;
    font-size: 20px;
    
}
.message{
    margin-top: 10px;
}
#Nameinput{
    width: 100px;
}
#Emailinput{
    width: 220px;
}
.info-content{
    background-color: rgba(255, 255, 255, 0.658);
    width: 600px;
    border-radius: 20px;
    padding: 20px;
}
textarea{
    margin-top: 10px;
    width: 400px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid grey; */
    border: none;
}
.title p{
    width: 550px;
    margin-bottom: 20px;
    line-height: 1;
    font-size: 16px;
    font-weight: 300;
}
.info{
    width: 540px;
    line-height: 2;
}
.info h4{
    font-weight: 500;
}
.inforow{
	display: flex;
	justify-content: center;
}
.submit-button{
	display:block;
}
#submit{
	border:none;
	background-color: rgb(65, 45, 45);
	border-radius: 8px;
	height: 35px;
	padding: 0 20px;
	color: white;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 20px;
}