
main{
	background-image: url("background.jpg");
	background-attachment: fixed;
	padding-top: 180px;
}
.blank{
	height: 150px;
}
.custom-title{
    font-size: large;
}

.customized{
	background-color: white;
	width: 80%;
	border-radius: 20px;
	margin: auto;
	box-shadow: 10px 10px 16px -13px rgba(0,0,0,0.62);
	display: flex;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.custom-img-container{
	display: flex;
	width: 60%;
	padding: 20px;
}
.custiom-option{
	width: 50%;
	padding: 0 30px;
}
.img-prep{
	/* margin: auto; */
	padding-top: 20px;
	/* width: 30%; */
	margin: auto;
	position: relative;
}
#up, #down{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border:none;
	background-color:#8f8f8f;
	position: absolute;
	left:90px;

}
#up{
	top:8px;
}
#down{
	top:600px;
}
.img-prep img{
	width: 150px;
	border-radius: 5px;
	margin: 20px;
}
.img-active{
	margin: auto;
}
.img-active img{
	width: 350px;
	border-radius: 5px;
}
.custom-title{
	margin: 40px 0 30px -10px;
	font-size: 24px;
	color: rgb(65, 45, 45);
	font-weight: 700;
}
.custom-subtitle{
	font-size: 16px;
	color: rgb(65, 45, 45);
	font-weight: 500;
	margin: 10px 0;
}
.description{
	font-size: 14px;
	color: rgb(68, 68, 68);
	margin-left: 10px;
}
.color-circle{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid grey;
}
.color-option{
	display: flex;
}
.color-btn{
	margin: 20px;
	/* background-color: white; */
}
#color-weat{
	background-color: rgb(255, 245, 226);
	border: 2px solid grey;
	width: 45px;
	height: 30px;
	border-radius: 10px;
	color: black;
}
#color-white{
	background-color: rgb(255, 255, 255);
	border: 2px solid grey;
	width: 45px;
	height: 30px;
	border-radius: 10px;
	color: black;
}
#color-black{
	background-color: rgb(36, 36, 36);
	border: 2px solid grey;
	width: 45px;
	height: 30px;
	border-radius: 10px;
	color: white;
}
/* .font-options{
	display: flex;
} */
.lang{
	
}
.label{

}
select{
	background-color: #ffffff;
	border-radius: 20px;
	width: 200px;
	color: #093335;
	font-size: 14px;
	text-align: center;
	padding: 3px;
	margin: 5px;
	border:1.5px dotted #093335;
	
}
.add{
	background-color: #5858583d;
	padding: 10px;
	width: 325px;
	color: rgb(73, 73, 73);
}
.add-line{
	line-height: 1.5;
}
.add-img{
	line-height: 1.5;
}
.notes{
	font-size: 14px;
	color: rgb(92, 92, 92);
	padding-left: 30px;

}
.add-background{
	background-color:#7a7a7a1a ;
	margin-top: -10px;
	padding: 10px;
	width: 325px;
}
#amount{
	border-radius: 20px;
	border: 1px solid grey;
	padding: 3px;
	margin: 5px;
	width: 100px;
	
}
.amount-option{
	display: flex;
	margin-top: 20px;
}
#range-price{
	background-color: #8686863d;
	border-radius: 20px;
	width: 100px;
	color: #093335;
	font-size: 14px;
	text-align: center;
	padding: 3px;
	margin: 5px;
	/* border:1px solid #093335; */
	border: none;
}
.purchase-button{
	display: flex;
}
#add-to-cart{
	
	border:none;
	background-color: rgb(65, 45, 45);
	border-radius: 8px;
	height: 40px;
	padding: 0 20px;
	color: white;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 20px;
}
#buy-now{
	border:none;
	background-color: #FFA101;
	border-radius: 8px;
	height: 40px;
	padding: 0 20px;
	color: white;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 20px;
	
}

.content{
	width: 85%;
	margin:auto;
}
.custom-list h3{
	text-align: center;
	font-size: 26px;
	font-weight:700;
	color: rgb(65, 45, 45);
	margin-bottom: 20px;
}
.custom-list h4{
	text-align: center;
	color: rgb(65, 45, 45);
	margin-bottom: 40px;
	font-weight: 500;
}
.custom-list ul{
	display: flex;
	justify-content: center;
}
.custom-list li{
	margin: 20px;
	font-size: 16px;
	font-weight: 500;
	color: rgb(150, 150, 150);

}
.custom-list li:hover{
	color: rgb(65, 45, 45);
	content:'';
	transition: .5s;

}
.custom-list li:after{
	content:'';
	flex-grow: 1;
	border-bottom: 4px solid rgb(65, 45, 45);
}
.Breadcrumbs{

}