nav{
    z-index: 3;
}
.custom-title{
    padding-top: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #353030;
    line-height: 1.5;
}

.custom-title h1{
    font-size: 30px;
    font-weight: 700;
}
.custom-title h2{
    font-size: 20px;
}
main{
    background-image: url("background.jpg");
    background-attachment: fixed;    
    /* padding-top: 100px; */
}

.line-1{
    position: fixed;
    top: 25%;
    left: -800px;
    white-space: nowrap;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
    z-index: 2;
    color: #353030;
    
}
.line-1 img{
    width: 40%;
    transition: 1s ease-in-out;
    padding: 30px;
}
.line-1 img:hover {
	transform: scale(1.07);
}
.line-2{
    position: fixed;
    top: 40%;
    right: -800px;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 500;
    color: #353030;
    

}
.custom-choices{
    padding-top: 800px;
    position: relative;
}
.scroll{

    margin-top: 20px;
    Animation: opacity 1s;
    animation: blink-animation 1s steps(5, start) infinite;
    }
@keyframes blink-animation {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
.sock img{
    width: 350px;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
}
.sock{
    margin: auto;
    width: 350px;
}
.custom-nametag img{
    width: 300px;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
}
.custom-nametag{
    margin: auto;
    width: 300px;
    padding: 15px;
    position: absolute; 
    left: -320px;
    top:-25%  
}
.img-row{
    display: flex;
    justify-content: center;
}
.T-shirt img{
    width: 200px;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);

}
.T-shirt{
    position: absolute;
    margin: auto;
    width: 200px;
    padding: 15px;
    left: 35%;
}
.earing {
    width: 400px;
    position: relative;
    top:15px;
    left: 250px;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    
}
.earing img{
    width: 400px;
}
.family{
    width: 400px;
    position: relative;
    top:-170px;
    left: 250px;
}
.family img{
    width: 400px;
    
    left: 10px;
}
.bag{
    width: 300px;
    position: absolute;
    left: 54%;
    top:-350px;
}
.bag img{
    width: 300px;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
}

.item{
	position: relative;
}
.sock{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    border-top-right-radius: 30px;
}
/* .sockitem::before{
   height: 300px;
   width: 300px;
   content: "";
   position: absolute;
   background-color: #ffffff;
   top: 68%;
   left: 14%;
   border-radius: 20px;

} */
.sock::before{
	position: absolute;
    content:" 一雙 獨一無二的襪子， \A 陪你 / 你重要的 他 \A 走出最 uniqe 的路! \A  \A NT.320起 ";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 150px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 350px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 80%;
    transition: 1s;
}
.sock::after{
	position: absolute;
    content:"襪子文字刺繡";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 80px;
    /* background-color: #31515c71; */
    width: 350px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:60%;
    transition: 1s;
}
.sock:hover.sock::before{
    top:0%;
}
.sock:hover.sock::after{
    top:0%;
}

.custom-nametag-img{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    border-top-left-radius: 30px;
}

.custom-nametag-img::before{
	position: absolute;
    content:"給孩子的專屬溫暖， \A 讓他擁有最特別的愛 \A  \A NT.400起";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 165px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 300px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 80%;
    transition: 1s;
}
.custom-nametag-img::after{
	position: absolute;
    content:"名字吊牌 \A[手繪+刺繡] ";
    line-height: 1.9;
    white-space: pre-line;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 70px;
    /* background-color: #31515c71; */
    width: 300px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:60%;
    transition: 1s;
}
.custom-nametag-img:hover.custom-nametag-img::before{
    top:0%;
}
.custom-nametag-img:hover.custom-nametag-img::after{
    top:0%;
}


.T-shirt-img{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    border-top-left-radius: 30px;
}
.T-shirt-img::before{
	position: absolute;
    content:" 只有一件，專屬你~\A 用繡的，才永久 \A  \A NT.320起";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 80px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 199px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 70%;
    transition: 1s;
}
.T-shirt-img::after{
	position: absolute;
    content:"T-Shirt客製";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    /* background-color: #31515c71; */
    width: 200px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:58%;
    transition: 1s;
}
.T-shirt-img:hover.T-shirt-img::before{
    top:0%;
}
.T-shirt-img:hover.T-shirt-img::after{
    top:0%;
}

.earing-img{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top-right-radius: 30px;
}
.earing-img::before{
	position: absolute;
    content:" 原來可以 \A 優雅的很不一般\A \A NT. 1 , 500起 ";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 180px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 400px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 80%;
    transition: 1s;
}
.earing-img::after{
	position: absolute;
    content:" 刺繡耳環 ";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 100px;
    /* background-color: #31515c71; */
    width: 400px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:60%;
    transition: 1s;
}
.earing-img:hover.earing-img::before{
    top:0%;
}
.earing-img:hover.earing-img::after{
    top:0%;
}
.family-img{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    border-top-left-radius: 40px;
}
.family-img::before{
	position: absolute;
    content:" 把瞬間變為，\A 洗不壞、摔不碎的永恆。\A \A NT. 450起";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 150px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 400px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 80%;
    transition: 1s;
}
.family-img::after{
	position: absolute;
    content:" 相片刺繡 ";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 80px;
    /* background-color: #31515c71; */
    width: 400px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:65%;
    transition: 1s;
}
.family-img:hover.family-img::before{
    top:0%;
}
.family-img:hover.family-img::after{
    top:0%;
}
.bag-img{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-shadow:10px 10px 20px -13px rgba(0,0,0,0.62);
    border-top-right-radius: 30px;
}
.bag-img::before{
	position: absolute;
    content:"不一樣 \A 就是要「袋」著走 \A  \A NT. 250起";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 150px 2.5px 0 2.5px;
    background-color: #31515c71;
    width: 300px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top: 80%;
    transition: 1s;
}
.bag-img::after{
	position: absolute;
    content:" 帆布袋 ";
    line-height: 1.5;
    white-space: pre-line;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 80px;
    /* background-color: #31515c71; */
    width: 300px;
    height: 500px;
    z-index: 2;
    left: 0px;
    top:57%;
    transition: 1s;
}
.bag-img:hover.bag-img::before{
    top:0%;
}
.bag-img:hover.bag-img::after{
    top:0%;
}
.container{
    background-color: #918d8daf;
    border-top-right-radius:60px ;
    padding: 20px;
}
.process{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #353030;
    padding-bottom: 10px;
    width: 160px;
    margin: 100px auto 50px auto;

}
.process h1{
    font-weight: 700;
    color: grey;
}
.process h2{
    font-size: 20px;
    margin-top:10px;
    color: grey;
}
.col-3 img{
    width: 100%;
    padding: 20px;
}
.col-3 h3{
    margin-top: 120px;
    text-align: center;
    font-size: 26px;
    color: #f0e6d7;
    font-weight: 500;
    margin-left: 60px;
}
.col-3 h4{
    line-height: 2;
    text-align: center;
    font-size: 22px;
    color: #f0e6d7;
    margin-left: 60px;
    
}
#lightbulb{
    width: 50px;
}
.finish{
    display: flex;
    padding-left: 20px;
}
