
main{
    padding-top: 200px;
	margin: auto;
	max-width: 1200px;
	background-image: url("background-w.png");
	background-attachment: fixed;
}
.title{
    text-align: center;
    
    font-weight: 700;
    color: #353030;
    line-height: 1.5;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
	font-weight: 500;
	margin-bottom: 50px;
   
}
.products-pack{
    display: flex;
    padding-bottom: 20px;
    color: grey;
    justify-content: space-between;
}
.product-amount{
    display: flex;
    padding: 5px;
}

.order{
    display: flex;
    align-items: center;
}
.order label{
    padding: 0 0 0 10px;
    
}
select{
    padding: 5px;
    border:1px solid rgb(167, 167, 167);
}
.filter h3{
    font-size: 14px;
    font-weight: 500;
    color: rgb(80, 80, 80);
}
.filter{
  
    /* padding: 30px ; */
}
.filter-border{
    border-right:2px dotted grey;
    width: 150px;
    padding-top: 10px;
    /* background-color: rgb(245, 245, 245); */
}
#sort ul{
    font-size: 14px;
    color: rgb(90, 90, 90);
    margin-top: 20px;
    width: 150px;
}
#sort li{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(68, 68, 68);
    line-height: 1.5;
    width: 150px;
}
.box{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 1px solid #666;
    position: relative;
    margin-right: 3px;
}
.check{
    position: absolute;
    font-size: 15px;
    line-height: .3;
    left: 1px;
    opacity: 0;
    transform: scale(0);
}
.checkbox:checked + .box .check{
    opacity: 1;
    transform: scale(1);
}
.checkbox:checked + .box{
    background-color: rgb(250, 250, 250);
}
.checkbox{
    position: absolute;
    opacity: 0;
}
.item{
	background-color: rgb(255, 247, 245);
	text-align: center;
	border-radius: 20px;
	margin:auto;
	margin-bottom: 30px;
	box-sizing: border-box;
	box-shadow: 9px 10px 8px -13px rgba(0,0,0,0.62);
	position: relative;
    padding-bottom: 5px;

}
.item img{
	width: 130px;
	height: 130px;
	padding-top: 15px;
	
}
.product_name{
	font-size: 16px;
	color:grey;
	text-align: left;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 5%;

}
.price{
	text-align: left;
	font-size: 16px;
	font-weight: 600;
	color:rgb(65, 45, 45);
	margin-bottom:  10px;
	margin-left: 10%;
}
.tag{
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: -10px;
	font-size: 14px;
	line-height: 2;
	padding: 0 5px;
	font-weight: bold;
	box-shadow:9px 11px 8px -13px rgba(0,0,0,0.62);
}
.tag::after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	left: 0;
	top: 100%;
}
.trans-free{
	background-color: #b3dee5;
	color: #31515c;
}
.trans-free::after{
	border-top: 7px solid #117889;
	border-left: 10px solid #00f0;
}
.discount{
	background-color: #fcb132;
	color: #31515c;
}
.discount::after{
	border-top: 7px solid #9b6713;
	border-left: 10px solid #00f0;
}

.content{
	width: 85%;
	margin:auto;
}
.custom-list h3{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #31515c;
	margin-bottom: 20px;
}
.custom-list h4{
	text-align: center;
	color: #31515c;
	margin-bottom: 40px;
	font-weight: 600;
}
.custom-list ul{
	display: flex;
	justify-content: center;
}
.custom-list li{
	margin: 20px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(150, 150, 150);

}
.custom-list li:hover{
	color: #31515c;
	content:'';
	transition: .5s;

}
.custom-list li:after{
	content:'';
	flex-grow: 1;
	border-bottom: 4px solid #31515c;
}
.pages{
	margin-bottom: 30px;

}
.pages ul{
	display: flex;
	width: 400px;
	margin-left: 220px;
}
.pages li{
	margin-left: 10px;
}
.pages a{
	color: grey;
	font-size: 14px;
	text-align: center;
}
#active a{
	text-decoration-line: underline;
}
