/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background-color: #f0e6d7;
	margin: auto;
	max-width:1260px;
    font-family: 'Noto Sans TC', sans-serif;
}
header{
	position: fixed;
	margin: auto;
	z-index: 3;
	width: 1260px;	
}
nav{
	display: flex;
	justify-content: space-between;	
	background-color: #f0e6d7;
	height: 90px;
}

.title h3{
	font-size: 18px;
	color:#31515c ;
}

.logo{
	font-size: 0;
    margin: 15px 30px;
}
#logo{
	width: 110px;
	padding: 10px 0 0 10px;

}

#company-name{
	width: 90px;
	padding-top: 30px;
	vertical-align:top;/*為何不能middle?*/

}
.menu{
	padding-right: 20px;
	justify-content: space-between;
	/* background-color:#f0e6d7b0; */
	box-shadow: 7px -8px 8px -13px rgba(0,0,0,0.62);
	border-bottom-left-radius:20px ;
	
}
.main{
	padding-top: 180px;
}

.member-icons{
	display: flex;
	justify-content: right;
	margin: 0 20px 10px ;
}
.nav-link{
	display: flex;
}
.nav-link a{
	font-size: 16px;
	/* color: white; */
	color:grey;
	text-decoration: none;
	font-weight: 300;
	margin: 10px 15px;

}

.icon{
	height: 25px;
	width: 25px;
	border-radius: 25%;
	background-color: #FEA200;
	text-align: center;
	line-height: 2.1;
	margin: 15px 10px 0 0;
}
.icon img{
	height: 20px;
	width: 20px;
	
}
.search-bar{
	margin-top: 5px;
	margin-left: 25px;
}
.search-bar input{
	border: 2px solid #353030;
	border-radius: 20px;
	background-color: #f0e6d7;
	font-size:16px;
}
#search-btn{
	background-color: #353030;
	color: #f0e6d7;
	border: none ;/*清除btn格式*/
	border-radius: 20px;
	padding: 3px 9px ;
	font-size: 14px;
	position: relative;
	right: 50px;
	outline: none;
	box-shadow: none;
}


footer{
	/* background-image: url(img/homepage/footer-background.png); */
	background-color: #f7f7f785;
	margin-top: 100px;
	padding: 30px 0;
	margin: auto;
	width: 100%;
	height: 100px;
	
}
.logo-footer img{
	display: block;
	width: 100px;
	margin-left: 25px;
}
.footer-txt{
	display:flex;
	width: 800px;
	margin-left: 40px;
}
.footer-txt a, li{
	color: grey;
	font-size: 12px;
}
.footer-items{
	display:flex;
	margin: auto;
	justify-content: center;
}
.footer-item{
	margin: 0px 15px;
}
.footer-title h3{
	text-align: left;
}
.footer-text li{
	line-height: 1.5;
}
.contact{
	color: grey;
}
#social-media-icons{
	display: flex;
	margin-top: 10px;
}
#social-media-icons li{
	margin: 0 5px;
}
.Breadcrumbs{
	font-size: 14px;
	color: rgb(65, 45, 45);
	
}
.contact{
	font-size: 14px;
	line-height: 1.5;
}
.blank{
	height: 150px;
}