
main{
    padding-top: 90px;
	width: 100%;
	margin: auto;
	background-image: url(img/homepage/background.png);
	background-attachment: fixed;
}

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
  }
  .banner{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .banner video{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    object-fit: cover;
  }
  .banner h2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;    
    height: 60%;
    font-size: 30px;
    text-align: center;
    line-height:60vh;
    text-transform:uppercase;
    background-color: #fff;
    mix-blend-mode: darken;
    color: #353030;
    font-weight: 900;
  }

  #quotation{
    position: absolute;
    top:0;
    left:0;
    width: 100%;    
    height: 50%;
    font-size: 20px;
    text-align: center;
    line-height:75vh;
    background-color: rgb(223, 223, 223);
    mix-blend-mode: darken;
    color: #353030;
    font-weight: 500;
    /* font-family: 'Indie Flower', cursive; */
  }
  
.item{
	position: relative;
	display:flex;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
	margin: 50px auto 0 auto;
}
.item img{
	/* border-radius: 20px; */
	position: absolute;
	z-index: 1;
	left: 200px;
	box-shadow: 12px 12px 8px -13px rgba(0,0,0,0.62);
	width: 220px;

}
.intro{
	vertical-align: middle;
	width: 600px;
	margin-top: 40px;
	padding: 40px 40px 40px 80px;
	position: relative;
	background-color: #ffffff81;
	left: 100px;
	color: rgb(105, 105, 105);
	line-height: 1.5;
	
}
.intro h2{
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 5px;
	color: #353030;
}
.intro h3{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #353030;
}
  
.tag{
	position: absolute;
	/* top: 280px; */
	padding: 10px;
	top: 360px;
	right: 160px;
	color: grey;
	font-size: 20px;
}
.team h2{
	width: 200px;
	margin: auto;
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 20px;
	margin-top: 80px;
	color: #353030;
	
	text-align: center;
}
.team p{
	width: 800px;
	margin: auto;
	font-size: 16px;
	line-height: 1.5;
}
.person h4{
	margin-top: 15px;
	text-align: center;
	font-size: 16px;
	color: grey;
}
.avatars {
	position: relative;
	display: flex;
	justify-content: center;
}
.avatars img{
	width: 100px;
	border-radius: 50%;
}

.person{
	margin: 30px;
}
.who{
	position: absolute;
	top: 210px;
	padding: 10px;

	right: 160px;
	color: grey;
	font-size: 20px;
}


.content{
	width: 85%;
	margin:auto;
}
.custom-list h3{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #31515c;
	margin-bottom: 20px;
}
.custom-list h4{
	text-align: center;
	color: #31515c;
	margin-bottom: 40px;
	font-weight: 600;
}
.custom-list ul{
	display: flex;
	justify-content: center;
}
.custom-list li{
	margin: 20px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(150, 150, 150);

}
.custom-list li:hover{
	color: #31515c;
	content:'';
	transition: .5s;

}
.custom-list li:after{
	content:'';
	flex-grow: 1;
	border-bottom: 4px solid #31515c;
}
.Breadcrumbs{
	font-size: 14px;
	color: #31515c;
}
.blank{
	height: 20px;
}