/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/* 設定開始 */
body{
	background-color: #f0e6d7;
	margin: auto;

}
header{
	position: fixed;
	z-index: 2;
	width: 100%;	
}
nav{
	display: flex;
	justify-content: space-between;	
	background-color: #f0e6d7;
	height: 90px;
}

.logo-set{
	display: inline-block;
	font-size: 0;
	
}
#logo{
	width: 140px;

}

#company-name{
	width: 140px;
	vertical-align:top;/*為何不能middle?*/
	margin-top: 30px ;

}
.menu{
	padding-right: 20px;
	justify-content: space-between;
	/* background-color:#f0e6d7b0; */
	box-shadow: 7px -8px 8px -13px rgba(0,0,0,0.62);
	border-bottom-left-radius:20px ;
	
}

.member-icons{
	display: flex;
	justify-content: right;
	margin: 0 20px 10px ;
}
.nav-link{
	display: flex;
}
.nav-link a{
	font-size: 16px;
	/* color: white; */
	color:grey;
	text-decoration: none;
	font-weight: 500;
	margin: 10px 15px;

}
.icon{
	height: 25px;
	width: 25px;
	border-radius: 25%;
	background-color: #FEA200;
	text-align: center;
	line-height: 2.1;
	margin: 15px 10px 0 0;
}
.icon img{
	height: 20px;
	width: 20px;
	
}
.search-bar{
	margin-top: 5px;
	margin-left: 25px;
}
.search-bar input{
	border: 2px solid #31515c;
	border-radius: 20px;
	background-color: #f0e6d7;
	font-size:16px ;
	
}
#search-btn{
	background-color: #31515c;
	color: #f0e6d7;
	border: none ;/*清除btn格式*/
	border-radius: 20px;
	padding: 3px 9px ;
	font-size: 14px;
	position: relative;
	right: 50px;
	outline: none;
	box-shadow: none;
}
/* 主視覺 */
main{
	padding-top: 70px;
}
.theme-boject{
	margin-top: 600px;
	position: relative;
}
.theme-boject img{
}

#houses{
	width: 45%;
	position: fixed;
	left: 25%;
	top:70px ;
	
}
#company-name-main{
	position: absolute;
	width: 20%;
	left: 40%;
	top: 140px;
	/* 38% */
}
#fox{
	position: absolute;
	width: 40%;
	top:26%;
	left: 5%;
	z-index: 2;
	transition: 1s ease-in-out;
}
#fox:hover {
	transform: scale(1.07);
}
#duck{
	position: absolute;
	top:20%;
	width: 19%;
	right: 15%;
	z-index: 2;
	transition: 1s ease-in-out;
}
#duck:hover {
	transform: scale(1.02);
}
#cloud{
	width: 300px;
	position: absolute;
}
#paperplane{
	position: absolute;
	width: 10%;
	top: 90px;
	left: 34%;
	z-index: 2;
}
.quotation h5{
	position: absolute;
	font-size:18px;
	text-align: center;
	color:#31515c ;
	top:60%;
	left: 27%;
	line-height: 1.5;
	background-color:#f0e6d77a ;
}
/* 內容 */
.content{
	width: 85%;
	margin:auto;
}
#road-divider{
	width: 100%;
	margin-top: 10%;
}
.title h2{
	font-size: 20px;
	color:#31515c ;
	font-weight:bold;
	margin-top: 20px;
}
.title h3{
	font-size: 18px;
	color:#31515c ;
}
/* 主題活動*/
.activities h2,h3{
	text-align: center;
	line-height: 1.5;
	margin-top: 20px;
}
.banner{
	margin-top: 40px;
	text-align : center;
}
.banner img{
	width:60%;
	border-radius: 20px;
	box-shadow: 12px 12px 8px -13px rgba(0,0,0,0.62);
}
.products{
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}
.item{
	width:calc(100%/5 - 60px);
	/* width: 160px; */
	background-color: rgb(255, 247, 245);
	text-align: center;
	border-radius: 20px;
	margin:auto;
	margin-bottom: 30px;
	box-sizing: border-box;
	box-shadow: 9px 10px 8px -13px rgba(0,0,0,0.62);
	position: relative;

}
.products img{
	width: 130px;
	height: 130px;
	padding-top: 15px;
	
}
.product_name{
	font-size: 16px;
	color:grey;
	text-align: left;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 5%;

}
.price{
	text-align: left;
	font-size: 16px;
	font-weight: 600;
	color:#31515c;
	margin-bottom:  10px;
	margin-left: 10%;
}
.title.hot{
	display: flex;
	margin-top: 60px;
}
.title.hot:after{
	content: '';
	margin-top: 30px;
	margin-left: 10px;
	flex-grow: 1;
	border-top: 1px dashed #31515c;
}
.products.hot{
	padding-bottom: 40px;
	border-bottom:1px dashed #31515c;
}
/*tag*/
.tag{
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: -10px;
	font-size: 14px;
	line-height: 2;
	padding: 0 5px;
	font-weight: bold;
	box-shadow:9px 11px 8px -13px rgba(0,0,0,0.62);
}
.tag::after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	left: 0;
	top: 100%;
}
.trans-free{
	background-color: #b3dee5;
	color: #31515c;
}
.trans-free::after{
	border-top: 7px solid #117889;
	border-left: 10px solid #00f0;
}
.discount{
	background-color: #fcb132;
	color: #31515c;
}
.discount::after{
	border-top: 7px solid #9b6713;
	border-left: 10px solid #00f0;
}
/*節慶商品*/
.festival{
	margin-top: 20px;
	width: 70%;
	position: relative;
	left: 0;
	padding: 20px 0 40px 8%;
	background-color:#31515c;
	border-top-right-radius: 30px;
}
.fest h2{
	color: #f0e6d7;
	margin-bottom: 20px;
	
}
/* .fest h2::after{
	content:'';
	border-top:1px solid #f0e6d7;
	flex-grow:1 ;
} */
.fest p{
	color: #ffffff;
	line-height: 2;
	margin-right:45%;
}
.festival img{
	width: 50%;
	position: absolute;
	right:-15%;
	top:15%;
	/* top:50px; */
	box-shadow:9px 11px 8px -13px rgba(0,0,0,0.62);

}
#read-more{
	margin-top: 20px;
	background-color:#f0e6d7;
	border-radius: 20px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:grey;
	padding: 0 20px;
}
.customized{
	margin-top: 10%;
}
.active-item{
	width: 40%;
	text-align: center;
}
.hover-box{
	position: relative;
	overflow: hidden;

}
.hover-text{
	position: absolute;
	top: 50%;
	left: 15%;
	/*left:px*/
	width: 60%;
	height: 100%;
	padding: 5%;
	background-color: rgba(0, 44, 33, 0.452);
	color:white;
	transition: 1s;
	border-radius: 10px;
}
.active-item:hover .hover-text{
	 top:30%;

}
.custom-item:hover .hover-text{
	top:30%;
}

.hover-box img{
	width: 70%;
	margin-top: 20px;
	box-shadow:15px 15px 20px -13px rgba(0,0,0,0.62);
}
.hover-text h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.hover-text p{
	line-height: 1.5;
}
.hover-img{
	font-size: 0;
}
.active-item::before{
	content: '';
	background-color: #FEA200;
	position: absolute;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	left: 12%;
	z-index: 1;
}
.custom-hover{
	top: 100%;
	left: -0.4%;
	width: 85%;
	height: 100%;
	margin-left: 6%;
	background-color: rgba(0, 44, 33, 0.452);
	color:white;
	transition: 1s;
	text-align: left;
}
.custom-items{
	text-align: center;
	width:60%;
	display: flex;
	flex-wrap: wrap;
	
}

.custom-item{
	width: 27%;
	margin: 10px 20px 0 10px;
	position: relative;
	overflow: hidden;
}

.custom-item img{
	width: 100%;
	margin-left:10px;
	/* margin-bottom: 20px; */
	margin-top: 5%;

	
}
.custom-item::before{
	content: '';
	background-color: #31515c;
	position: absolute;
	left: 0;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	box-shadow:10px 11px 20px -13px rgba(0,0,0,0.62);
	z-index: 1;

}
.custom-service{
	display: flex;
	justify-content: flex-start;
	
}
.custom{
	margin-bottom: 40px;
}
.tutorial{
	margin-top: 80px;
}
.video{
	display: flex;
	margin: 20px;
}
iframe{
	padding: 0 20px;
}
.video-catagory{
	display: flex;
	justify-content: center;
}
.video-catagory h3{
	padding-top: 10px;
	line-height: 1.2;
	width: 60px;
	height: 50px;
	text-align: center;
	border-radius: 20px;
	border: 1.5px dotted grey;
	color: grey;
	margin-right:40px;
	box-shadow: 5px 5px 10px -13px rgba(0,0,0,0.62);
}
footer{
	background-image: url(img/homepage/footer-background.png);
}
.footer-items{
	display: flex;
	padding-top: 150px;
	color: #31515c;
	
}
.footer-text a{
	font-size: 16px;
	color: #31515c;
	text-align: start;
}
.footer-text{
	color:;
}
.line-1{
    position: fixed;
    top: 40%;
    left: -800px;
    white-space: nowrap;
	font-size: 50px;
}
.line-2{
    position: fixed;
    top: 45%;
    right: -800px;
    white-space: nowrap;
	font-size: 50px;
}
.banner{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items:center;
  }
  .banner video{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
  }
  .banner h2{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	font-size: 30vw;
	text-align: center;
	line-height:100vh;
	text-transform:uppercase;
	background-color: #fff;
	mix-blend-mode: screen;
	
  }
  